#calculator-buttons {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
}

#calculator-buttons button {
	flex-basis: 25%;
}

#calculator-buttons #button-backspace, #calculator-buttons #button-0 {
	flex-basis: 50%;
}