* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#calculator {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#calculator-buttons {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	margin-top: 4px;
}

#calculator-buttons button {
	height: 60px;
	flex-basis: 25%;
	font-size: 30px;
	border: 2px solid rgb(197, 219, 252);
	border-radius: 5px;
	outline: none;
}

#calculator-buttons #button-backspace, #calculator-buttons #button-0 {
	flex-basis: 50%;
}

#calculator-display {
	width: 296px;
	height: 70px;
	text-align: right;
	font-size: 40px;
	border-radius: 5px;
	padding: 2px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: white;
}

.numbers {
	background-color: rgb(81, 159, 228);
}

.operators {
	background-color: rgb(218, 163, 62);
}

.clear {
	background-color: rgb(233, 77, 77);
}

#calculator-body {
	border: 1px solid;
	width: 330px;
	height: 450px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(197, 219, 252);
}